<nav class="navbar navbar-expand-md navbar-light bg-light">
    <i *ngIf="userGloabalData.backButton" class="cursor-pointer fa fa-long-arrow-left" aria-hidden="true" [routerLink]="['../users']">
    Back</i>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto">Dockabl
            <span *ngIf="userGloabalData.headerTitle"> -
                <span [innerHTML]="userGloabalData.headerTitle"></span>
            </span>
        </a>
    </div>
</nav>