<div class="user-list container-fluid" [ngSwitch]="usersValidationMap.status">
  <div class="row" *ngSwitchCase="'success'">
    <div class="col-12 md-8" *ngFor="let users of usersList">
      <div class="card user-list" id="user{{users.id}}">
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="users.name"></h5>
          <p class="card-text">
            <span class="text-secondary">Company : </span>
            <span class="text-body" [innerHTML]="users.company.name"></span>
          </p>
        </div>
        <div class="card-footer text-right">
          <button type="button" class=" btn btn-outline-primary mr-2" (click)="viewUserDetails(users.id)">View User</button>
          <button type="button" class=" btn btn-outline-dark" [routerLink]="['./users-posts']" [queryParams]="{userId: users.id}">Show Posts</button>
        </div>
      </div>
    </div>
    <div class="load-more text-center">
      <button type="button" [disabled]="usersValidationMap.loadMoreDisable" *ngIf="((loadMoreOptions.start+loadMoreOptions.limit)<loadMoreOptions.totalUserCount)"
        class=" btn btn-outline-secondary btn-lg mt-4 mb-5" (click)="Loadmore()">Load More</button>
    </div>
  </div>
  <div *ngSwitchCase="'spinner'" class="spinner-border spinner-position"></div>
  <div *ngSwitchCase="'failure'" class="text-center">
    <div class="message-position" [innerHTML]="usersValidationMap.message"></div>
  </div>
</div>