<div class="user-posts" [ngSwitch]="userPostsValidationMap.status">
	<ngb-accordion *ngSwitchCase="'success'" [closeOthers]="true" activeIds="activePanelId" type="light">
		<ngb-panel *ngFor="let posts of userPostsList;" title="{{posts.title}}" id="{{posts.id}}">
			<ng-template ngbPanelContent>
				<p>{{posts.body}}</p>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
	<div *ngSwitchCase="'spinner'" class="spinner-border spinner-position"></div>
	<div *ngSwitchCase="'failure'" class="text-center">
		<div class="message-position" [innerHTML]="userPostsValidationMap.message"></div>
	</div>

</div>