
 ::ng-deep .user-posts .card {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
  }
  ::ng-deep .user-posts .card .card-header > button{
    font-size:1.25rem;
    color: black;
    font-weight: 500;
  }
  .user-posts {
    margin-top: 3rem;
  }