<div class="user-details" [ngSwitch]="userDetailsValidationMap.status">
  <div class="modal-header bg-light">
    <h4 class="modal-title">User Details</h4>
    <h6 class="website">
      <a target="_blank" href="{{ 'http://' + userDetails.website}}">{{ 'http://' + userDetails.website}}</a>
    </h6>
  </div>
  <div class="modal-body mpdal-body-over-flow" [ngStyle]="{'max-height.px': (modalHeight - 240 ), 'height.px': (modalHeight - 240 )}">
    <div *ngSwitchCase="'success'">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputName">Name</label>
            <input type="text" class="form-control bg-light text-dark" id="inputName" [(ngModel)]="userDetails.name" name="Name" disabled>
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputUsername">Username</label>
            <input type="text" class="form-control bg-light text-dark" id="inputUsername" [(ngModel)]="userDetails.username" name="Username"
              disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputEmail">Email</label>
            <input type="email" class="form-control bg-light text-dark" id="inputEmail" [(ngModel)]="userDetails.email" name="email"
              disabled>
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputPhone">Phone</label>
            <input type="text" class="form-control bg-light text-dark" id="inputPhone" [(ngModel)]="userDetails.phone" name="phone" disabled>
          </div>
        </div>
        <div class="text-left">
          <h6 class="text-secondary"> Address -
            <a target="_blank" href="{{'https://www.google.com/maps/?q=' + userDetails.address.geo.lat + ',' + userDetails.address.geo.lng}}">Open in a Map
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </a>
          </h6>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputSuite">Suite</label>
            <input type="text" class="form-control bg-light text-dark" id="inputSuite" [(ngModel)]="userDetails?.address.suite" name="suite"
              disabled>
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputStreet">Street</label>
            <input type="text" class="form-control bg-light text-dark" id="inputStreet" [(ngModel)]="userDetails.address.street" name="street"
              disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputCity">City</label>
            <input type="text" class="form-control bg-light text-dark" id="inputCity" [(ngModel)]="userDetails.address.city" name="city"
              disabled>
          </div>
          <div class="form-group col-md-6">
            <label class="text-secondary mb-0" for="inputZipcode">Zipcode</label>
            <input type="text" class="form-control bg-light text-dark" id="inputZipcode" [(ngModel)]="userDetails.address.zipcode" name="zipcode"
              disabled>
          </div>
        </div>
        <div class="text-secondary">Company </div>
        <div class="card">
          <div class="card-header" [innerHTML]="userDetails.company.name">
          </div>
          <div class="card-body">
            <h5 class="card-title" [innerHTML]="userDetails.company.bs"></h5>
            <p class="card-text" [innerHTML]="userDetails.company.catchPhrase"></p>
          </div>
        </div>
      </form>
    </div>

    <div *ngSwitchCase="'spinner'" class="spinner-border spinner-position"></div>
    <div *ngSwitchCase="'failure'" class="text-center">
      <div class="message-position" [innerHTML]="userDetailsValidationMap.message"></div>
    </div>
  </div>
  <div class="modal-footer text-center bg-light">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>