::ng-deep .userDetailsModalClass .modal-dialog {
    width:50%;
    max-width:50%;
}
.mpdal-body-over-flow{
    overflow-y: auto;
}
.website{
    padding-top: 1%;
}
.user-details > label{
    margin-bottom: 0px !important;
}


@media only screen and (max-width: 600px) {
    ::ng-deep .userDetailsModalClass .modal-dialog {
        width:100%;
        max-width:100%;
    }
  }
  