/* You can add global styles to this file, and also import other style files */




.spinner-position{
    position:fixed;
    top:50%;
    left:50%
}
.message-position{
    position: absolute;
    width: 150px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -25px;
}